* {
  margin: 0;
}

.app__headerImage {
  object-fit: contain;
}

.app__post {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.post__right {
  margin-left: 20px;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__signup {
  display: flex;
  flex-direction: column;
  text-align: center;
}
